*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif; 
}
body{ 
    height: 3000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.200)), url(./image/beautiful.jpg)
}
.container{
           display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
}
h1{
   color: white; 
   font-size: 2em;
  text-align: center;
  font-weight: bold;
   font: sans-serif;
}
.card1{
            width: 200px;
            padding: 150px;
            margin: 150px auto;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0;
}
.card2{
             width: 200px;
            padding: 150px;
            margin: 150px auto;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0;
}
.card3{
          width: 200px;
            padding: 150px;
            margin: 150px auto;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0;
}
.card4{
              width: 200px;
            padding: 150px;
            margin: 150px auto;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0;
}
  